﻿@model FizzBuzz.Models.FizzBuzzModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Fizz Buzz Application</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.EditorFor(model => model.num)
    
    <input type="submit" value="Submit" />
}

<table>
    <tr><td>@Html.Label("Calculated Results")</td></tr>

    @{
      
      
      }
    @if (Model != null)
    {

        //var PageSize = 20;
        //var currentRecord = 0;
        //var totalRecords = Model.result.Count();
        //var noOfPages = totalRecords / PageSize;


        //if (totalRecords > PageSize * noOfPages )
        //{
        //    noOfPages = noOfPages + 1;
        //}


        var style = "";
        var strResult = "";

  
            for (int i = 0; i < Model.result.Count(); i++)
            {
            //currentRecord = i;
                style = "";
                strResult = Model.result[i];
                if (strResult == "Fizz")
                {
                    style = "color:blue";
                }
                else if (strResult == "Buzz")
                {
                    style = "color:green";
                }
                       
             <tr style="@style">
                <td>                    
                    @Html.DisplayFor(model => Model.result[i])                   
                </td>
            </tr>
        }
        
        @*<tr><td>@Html.ActionLink("Next Page", "nextpage", new { ID = currentRecord, TotalRecod = totalRecords })</td></tr>*@
    }
    
</table>